:root{
    --main-color: #D25FD2;
    --text-color: #67E300;
    --up-color: #006363;
    --form-text: #190c36;
}
*{
    border: none;
}
body, input, button, select{
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}
h1{
    background-color:var(--up-color);
    color: var(--text-color);
    height: 8vh;
    font-size: 45px;
    margin: 0;
}
.title:hover{
    text-shadow: 3px -3px rgb(36, 2, 36), 3px 3px rgb(36, 2, 36);
    cursor: pointer;
    transition: 1.1s;
}
main{
    display: flex;
    height: 92vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgb(8, 4, 68);
}
.descriotion{
    font-size: 22px;
    color: var(--main-color);
}
form{
    background-color: #28d428;
    color: var(--form-text);
    width: 75vw;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: solid 2px #ec341c;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    font-size: 20px;
}
label{
    display: flex;
    justify-content: space-around;
}
label span{
    display: inline-block;
    width: 40%;
    text-align: end;
}
label input,
label select {
    width: 40%;
    background-color: dodgerblue;
    font-size: 18px;
    color: lightgoldenrodyellow;
    border-radius: 5px;
    padding: 2px;
}
label select{
    font-size: 14px;
}
button{
    align-self: center;
    width: 200px;
    background-color: #190c36;
    border: 1px solid #D25FD2;
    color: lightblue;
    border-radius: 8px;
    transition: 0.5s;
}
button:hover{
    background-color: #622fd1;
    color: darkblue;
}
@media(max-width: 411px){
    h1{
        font-size: 30px;
        height: 5vh;
        font-size: 22px;
    }
    main{
        height: 100%;
    }
    form{
        width: 95vw;
        height: 90%;
        border: none;
    }
    .descriotion{
        margin: 0;
        padding: 0;
    }
    label{
        flex-direction: column;
    }
    label span,
    label input,
    label select {
        width: 95%;
        margin: 4px auto;
        text-align: center;
    }
    fieldset label{
        display: flex;
        flex-direction: row;
    }
}



